.navbar-nav {

}
.navbar-nav a:hover {
    background-color: yellow;
}

body {
  background-color: #F0FFFF;
  background-size: auto 130%;
  text-align: center;
}
h1.title {
  font-size: 70px;
  font-family: 'Cabin Sketch', cursive;
  color: #a20c52;
  text-shadow: 4px 4px #000000;
}

.sub {
    font-size: 45px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #FAFAD2;
    padding-top: 40px;
    text-shadow: 2px 2px #000000;
}
.subtitle {
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  padding: 50px;
  text-shadow: 2px 2px #a6a6a6;
}

.second-line {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}
p.sentence {
  font-size: 18px;
  font-family: 'Gudea', sans-serif;
  padding: 10px 50px 60px 50px;
}

.before {
  padding: 80px 50px 50px 50px;
  font-size: 23px;
  font-family: 'Gudea', sans-serif;
}

.after {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: 'Gudea', sans-serif;
  padding: 30px 50px 150px 50px;
}

div#idea {
  background-image: url('./images/pic2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 830px;
  padding-top: 17%;
  padding-bottom: 100px;
}

#bullet-style {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #fff;
  color: black;
  background-size: cover;
  border-color: white;
  border-radius: 50%;
  border-style: hidden;
  border-width: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
  padding-left: 30px;
  height: 210px;
  width: 210px;
}

#circles {
  padding: 30px;
}
.bullets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 40px 60px 40px;
}

.north-central {
  background-image: url('./images/usa.jpg');
  padding: 25px 30px 0px 0px;
}
.south-america {
  background-image: url('./images/bsas.jpg');
  padding: 65px 25px 0px 0px;
}

.europe {
  background-image: url('./images/bcn.jpg');
  padding: 85px 24px 0px 0px;
}


.middle-east {
  background-image: url('./images/israel.jpg');
  padding: 65px 33px 0px 0px;

}

.center_div{
    margin: 0 auto;
    min-width: 200px;
    max-width: 400px;
}


@media only screen and (max-width: 700px) {
  .bullets {
  display: block | flex;
  justify-content: center;


}
}
