body {
  background-color: #F0FFFF;
  background-size: auto 130%;
}
.navbar {
  margin: 0;
  padding: 0;
  position: inherit;
  top: 0;
  width: 100%;
}
h1.title {
  font-size: 70px;
  font-family: 'Cabin Sketch', cursive;
  color: #a20c52;
  text-shadow: 4px 4px #000000;
  text-align: center;
  padding-top: 80px;
}
.cloud {
    padding: 1px 5px 8px 0px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 40px;
  }
#recommended {
  font-family: 'Gudea', sans-serif;
    display: block;
    padding: 0px 10px 0px 10px;
  }
.featurette-img {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}
.row-featurette {
  margin: 10%;
  padding: 10%;
}
#text {
  padding: 40px;
}
#text-middle {
  padding: 40px 40px 40px 50px;
}
#image {
  padding-top: 0%;

}
.page-footer {
  padding-top: 90px;
  width: 100%;
  text-align: center;
}
.rec {
  font-family: 'Special Elite', cursive;
  text-align: center;
}
.featurette-heading {
  font-family: 'Special Elite', cursive;
  font-size: 34px;
}
input {
  width: 90%;
}

a {
  color: #66B2BA;
}
@media (max-width: 500px) {
  .featurette-img {
    width: 70%;
    height: 70%;
  }
  #image {
    display: flex;
    justify-content: space-around;
  }
}
