body {
  background-color: #F0FFFF;
  background-size: auto 130%;
}
.navbar {
  margin: 0;
  padding: 0;
  position: inherit;
  top: 0;
  width: 100%;
}
h1.title {
  font-size: 70px;
  font-family: 'Cabin Sketch', cursive;
  color: #a20c52;
  text-shadow: 4px 4px #000000;
  text-align: center;
}
ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 40px;
  }
  li {
    display: block;
    padding: 0px 10px 0px 10px;
  }
.featurette-img {
  margin: 10%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.row-featurette {
  margin: 10%;
  padding: 10%;
}
#text {
  padding: 40px;
}
#image {
  padding: 40px;
}
.page-footer {
  width: 100%;
  text-align: center;
}

.recs {
  color: #7e7e7e;
  display: block;
  background-color: lightgrey;
  border-bottom: 2px solid #fff;
  width: 100%;
}
input {
  width: 90%;
}

a {
  color: #66B2BA;
}
@media (max-width: 500 px) {
  .navbar.navbar-inverse: navbar-fixed-top;
}
